body {
    background-color:lightblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.heading {
    color: red;
    background-color:black;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

